
:root {
  --light-grey:#ececec;
  --dark-grey:#acacac;
  --green:#4CAF50;
  --red:#FF5252;
  --black-transparent:rgba(0,0,0, 0.8);

  --transition-time:.4s;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html {
  background:var(--light-grey);
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 42px;
}

main {
  width: 300px;
  max-width: 90%;
}

img {
  max-width: 100%;
}

.profiles {
  width:100%;
  position: relative;
  height:450px;
}

.profile {
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profiles::before {
  content:'Plus rien à matcher...';
  color:var(--dark-grey);
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.profile__image {
  height: 0;
  padding-bottom:150%;
  background-size: cover;
  background-position: center center;
}

.profile__infos {
  padding:12px;
  position:absolute;
  bottom:0px;
  background:linear-gradient(0deg, black, transparent);
  width: 100%;
}

.profile__name {
  color:white;
  font-weight: bold;
  font-size:22px;
}

.profile__age {
  color:var(--light-grey);
  font-weight: normal;
}

.profile__description {
  color:white;
  font-size:13px;
}


.bottombar {
  margin-top:24px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:24px;
}

.bottombar__button {
  width: 64px;
  height: 64px;
  border-radius:100%;
  background:white; 
  padding:16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.4s;
}

.bottombar__button:hover {
  cursor:pointer;
  opacity:0.8;
}

.profile--match {
  transition: var(--transition-time);
  transform:translateX(1500px) translateY(600px) rotate(90deg);
}

.profile--next {
  transition: var(--transition-time);
  transform:translateX(-1500px) translateY(600px) rotate(-90deg);
}

.profile--back {
  transition:var(--transition-time);
}

.profile--matching::after, .profile--nexting::after {
  content:'MATCH';
  font-weight: bold;
  font-size:28px;
  padding:8px 12px;
  border:solid 2px var(--green);
  color:var(--green);
  background:var(--black-transparent);
  position:absolute;
  top:24px;
  right:12px;
  border-radius: 4px;
  transform:rotate(24deg);
} 

.profile--nexting::after {
  content:'NEXT';
  border:solid 2px var(--red);
  color:var(--red);
}